.centerer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue;
}

.borderer {
  padding: 1em;
  border: 1pt solid black;
}

.form-container {
  margin: 10% auto;
  display: block;
  width: 30%;
  min-width: 300px;
  text-align: center;
  border: 1pt solid;
}
